In [18]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("btc_price_prediction") \
    .config(
        "spark.jars.packages",
        "org.postgresql:postgresql:42.7.3"
    ) \
    .getOrCreate()

In [80]:
#spark.stop()

## 1. Data Injection (collecte data)

In [89]:
import requests
import os
from dotenv import load_dotenv
load_dotenv() 
def data_collection():

  SYMBOL = 'BTCUSDT'
  INTERVAL = '1m'   # Intervalle d'une minute
  LIMIT = 600    
  api='https://api.binance.com/api/v3/klines'
  response = requests.get(api, params={
    "symbol": SYMBOL,
    "interval": INTERVAL,
    "limit": LIMIT
  })
  if response.status_code != 200:
        print(f"Erreur {response.status_code}")
        return None
  api_data=response.json()
  columns = [
        "open_time", "open_price", "high_price", "low_price", "close_price", "volume",
        "close_time", "quote_asset_volume", "number_of_trades",
        "taker_buy_base_volume", "taker_buy_quote_volume", "ignore"
    ]
  psdf= spark.createDataFrame(api_data, columns)
 
  
  return psdf
  
data = data_collection()
data.show()

+-------------+--------------+--------------+--------------+--------------+-----------+-------------+------------------+----------------+---------------------+----------------------+------+
|    open_time|    open_price|    high_price|     low_price|   close_price|     volume|   close_time|quote_asset_volume|number_of_trades|taker_buy_base_volume|taker_buy_quote_volume|ignore|
+-------------+--------------+--------------+--------------+--------------+-----------+-------------+------------------+----------------+---------------------+----------------------+------+
|1768888260000|91732.17000000|91805.04000000|91732.17000000|91805.03000000|15.56320000|1768888319999|  1428293.44297580|            3151|          12.76808000|      1171744.61757530|     0|
|1768888320000|91805.03000000|91805.04000000|91726.70000000|91726.70000000|11.12407000|1768888379999|  1020929.19367620|            2973|           1.92730000|       176885.33794860|     0|
|1768888380000|91726.71000000|91734.01000000|91724.82000000|91725.23000000| 7.47250000|1768888439999|   685456.34610170|            1622|           1.86226000|       170823.75972440|     0|
|1768888440000|91725.22000000|91725.23000000|91683.97000000|91699.26000000|11.02577000|1768888499999|  1011116.06761040|            4699|           3.64053000|       333859.87947790|     0|
|1768888500000|91699.26000000|91699.27000000|91689.06000000|91689.07000000| 4.22307000|1768888559999|   387234.63608900|            1536|           1.21387000|       111305.59132900|     0|
|1768888560000|91689.06000000|91706.80000000|91681.31000000|91681.32000000| 6.10519000|1768888619999|   559812.60084610|            1981|           3.23173000|       296324.37864100|     0|
|1768888620000|91681.32000000|91685.87000000|91663.06000000|91685.86000000| 6.34623000|1768888679999|   581780.69637110|            1293|           2.47353000|       226751.59022410|     0|
|1768888680000|91685.87000000|91685.87000000|91650.00000000|91650.00000000| 4.17380000|1768888739999|   382615.67941390|            1862|           0.67588000|        61957.20147960|     0|
|1768888740000|91650.00000000|91650.01000000|91624.18000000|91624.18000000| 5.04482000|1768888799999|   462291.91380450|            1672|           0.36951000|        33860.07928050|     0|
|1768888800000|91624.19000000|91625.31000000|91600.00000000|91622.11000000| 8.59168000|1768888859999|   787111.09668090|            1868|           2.48990000|       228093.30915770|     0|
|1768888860000|91622.11000000|91622.11000000|91580.00000000|91580.01000000|15.56515000|1768888919999|  1425803.73050800|            3279|           6.11030000|       559752.64151930|     0|
|1768888920000|91580.00000000|91592.85000000|91580.00000000|91592.84000000| 5.85141000|1768888979999|   535925.46329920|            1573|           1.59264000|       145865.24349160|     0|
|1768888980000|91592.84000000|91613.15000000|91580.04000000|91604.27000000| 9.74381000|1768889039999|   892491.66492790|            2691|           3.21429000|       294424.94392350|     0|
|1768889040000|91604.28000000|91604.28000000|91553.74000000|91553.74000000| 9.62999000|1768889099999|   881988.60047490|            3823|           5.03072000|       460782.32022290|     0|
|1768889100000|91553.74000000|91596.20000000|91550.00000000|91596.19000000| 5.83770000|1768889159999|   534557.13388900|            3900|           2.90056000|       265602.27651170|     0|
|1768889160000|91596.20000000|91613.64000000|91580.00000000|91583.95000000|10.51265000|1768889219999|   962930.56662120|            3702|           4.62732000|       423846.81296650|     0|
|1768889220000|91583.95000000|91591.25000000|91545.86000000|91591.25000000| 8.66218000|1768889279999|   793156.87541120|            3888|           2.72084000|       249141.07226860|     0|
|1768889280000|91591.25000000|91616.32000000|91591.24000000|91594.05000000| 5.45698000|1768889339999|   499850.90242390|            2896|           1.71906000|       157461.56837950|     0|
|1768889340000|91594.04000000|91600.00000000|91565.35000000|91599.99000000|11.82994000|1768889399999|  1083378.88688480|            4554|           6.83460000|       625904.51370220|     0|
|1768889400000|91599.99000000|91600.00000000|91578.06000000|91578.06000000| 8.15682000|1768889459999|   747104.63683740|            2371|           1.63708000|       149939.93501790|     0|
+-------------+--------------+--------------+--------------+--------------+-----------+-------------+------------------+----------------+---------------------+----------------------+------+
only showing top 20 rows

In [90]:
data.printSchema()

root
 |-- open_time: long (nullable = true)
 |-- open_price: string (nullable = true)
 |-- high_price: string (nullable = true)
 |-- low_price: string (nullable = true)
 |-- close_price: string (nullable = true)
 |-- volume: string (nullable = true)
 |-- close_time: long (nullable = true)
 |-- quote_asset_volume: string (nullable = true)
 |-- number_of_trades: long (nullable = true)
 |-- taker_buy_base_volume: string (nullable = true)
 |-- taker_buy_quote_volume: string (nullable = true)
 |-- ignore: string (nullable = true)

In [91]:
print(f"nombre des lignes dana la dataset :",data.count())

nombre des lignes dana la dataset : 600

In [92]:
from pyspark.sql.functions import col
num_cols= ["open_price", "high_price", "low_price", "close_price", "volume", "quote_asset_volume", "number_of_trades", "taker_buy_base_volume", "taker_buy_quote_volume"]
for feature in num_cols:
      data = data.withColumn(feature, col(feature).cast('double'))

data.printSchema()

root
 |-- open_time: long (nullable = true)
 |-- open_price: double (nullable = true)
 |-- high_price: double (nullable = true)
 |-- low_price: double (nullable = true)
 |-- close_price: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- close_time: long (nullable = true)
 |-- quote_asset_volume: double (nullable = true)
 |-- number_of_trades: double (nullable = true)
 |-- taker_buy_base_volume: double (nullable = true)
 |-- taker_buy_quote_volume: double (nullable = true)
 |-- ignore: string (nullable = true)

In [93]:
data.describe().show()

+-------+-------------------+------------------+-----------------+------------------+-----------------+------------------+-------------------+------------------+-----------------+---------------------+----------------------+------+
|summary|          open_time|        open_price|       high_price|         low_price|      close_price|            volume|         close_time|quote_asset_volume| number_of_trades|taker_buy_base_volume|taker_buy_quote_volume|ignore|
+-------+-------------------+------------------+-----------------+------------------+-----------------+------------------+-------------------+------------------+-----------------+---------------------+----------------------+------+
|  count|                600|               600|              600|               600|              600|               600|                600|               600|              600|                  600|                   600|   600|
|   mean|      1.76890623E12| 91059.35965000003|      91088.60115|       91026.87915|91057.21893333334|16.643709783333335|  1.768906289999E12| 1512473.210775941|          4606.36|    7.129168366666669|     648220.3017071063|   0.0|
| stddev|1.040096149401583E7|272.36378314487047|256.4893243327476|287.42571775531786|272.1154391722681|28.527797168493965|1.040096149401583E7|2582679.1296302634|4192.443864421706|     8.68281989184472|     787713.0267260637|   0.0|
|    min|      1768888260000|           89957.0|          89995.1|          89859.06|         89956.99|           0.62879|      1768888319999|     57440.6456538|            381.0|              0.20429|         18583.1716905|     0|
|    max|      1768924200000|          91805.03|         91805.04|          91732.17|         91805.03|         421.22883|      1768924259999|3.81093580514646E7|          25626.0|               93.356|       8500815.6637596|     0|
+-------+-------------------+------------------+-----------------+------------------+-----------------+------------------+-------------------+------------------+-----------------+---------------------+----------------------+------+

1. Convertir les colonnes open_time (ms) et close_time (ms) en secondes (s).

In [94]:


data= data.withColumn("open_time_s", col("open_time") / 1000) \
       .withColumn("close_time_s", col("close_time") / 1000)
data= data.drop("open_time", "close_time")

2. Convertir les colonnes open_time_s et close_time_s  en timestamp.

In [95]:
from pyspark.sql.functions import to_timestamp, col

data = data.withColumn("open_time_ts", to_timestamp(col("open_time_s"))) \
       .withColumn("close_time_ts", to_timestamp(col("close_time_s")))
data= data.drop("open_time_s", "close_time_s")
data.printSchema()

root
 |-- open_price: double (nullable = true)
 |-- high_price: double (nullable = true)
 |-- low_price: double (nullable = true)
 |-- close_price: double (nullable = true)
 |-- volume: double (nullable = true)
 |-- quote_asset_volume: double (nullable = true)
 |-- number_of_trades: double (nullable = true)
 |-- taker_buy_base_volume: double (nullable = true)
 |-- taker_buy_quote_volume: double (nullable = true)
 |-- ignore: string (nullable = true)
 |-- open_time_ts: timestamp (nullable = true)
 |-- close_time_ts: timestamp (nullable = true)

### create le target y = close_price(t+10)

In [96]:
from pyspark.sql.window import Window
from pyspark.sql import functions as F

# Creation une fenêtre ordonnée par temps
window = Window.orderBy("open_time_ts")

# Décaler la colonne 'close_price' de 10 lignes (10 minutes)
data_new = data.withColumn("close_t_plus_10", F.lead("close_price", 10).over(window))
data_new.select("close_price","close_t_plus_10","open_time_ts").show()

26/01/20 16:50:38 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/20 16:50:38 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/20 16:50:38 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/20 16:50:39 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
26/01/20 16:50:39 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----------+---------------+-------------------+
|close_price|close_t_plus_10|       open_time_ts|
+-----------+---------------+-------------------+
|   91805.03|       91580.01|2026-01-20 06:51:00|
|    91726.7|       91592.84|2026-01-20 06:52:00|
|   91725.23|       91604.27|2026-01-20 06:53:00|
|   91699.26|       91553.74|2026-01-20 06:54:00|
|   91689.07|       91596.19|2026-01-20 06:55:00|
|   91681.32|       91583.95|2026-01-20 06:56:00|
|   91685.86|       91591.25|2026-01-20 06:57:00|
|    91650.0|       91594.05|2026-01-20 06:58:00|
|   91624.18|       91599.99|2026-01-20 06:59:00|
|   91622.11|       91578.06|2026-01-20 07:00:00|
|   91580.01|       91562.01|2026-01-20 07:01:00|
|   91592.84|        91528.0|2026-01-20 07:02:00|
|   91604.27|       91500.01|2026-01-20 07:03:00|
|   91553.74|        91457.4|2026-01-20 07:04:00|
|   91596.19|       91391.62|2026-01-20 07:05:00|
|   91583.95|       91233.76|2026-01-20 07:06:00|
|   91591.25|       90979.01|2026-01-20 07:07:00|
|   91594.05|        91027.4|2026-01-20 07:08:00|
|   91599.99|       90915.83|2026-01-20 07:09:00|
|   91578.06|       91069.81|2026-01-20 07:10:00|
+-----------+---------------+-------------------+
only showing top 20 rows